{% extends 'dash.html' %}
{% load static %}

{% block title %} SPLANNING | Dashboard {% endblock %}

{% block content %}

<style>

    :root{
        --card-border-radius: 15px;
    }
    .table{
        --bs-table-striped-bg: rgba(255, 0, 54, 0.12) !important;
    }

    /* ============ BOXES ================ */

    .boxes{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
    .boxes a{
        text-decoration: none;
    }
    .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        width: 240px;
        border-radius: var(--card-border-radius);
        transition: 0.3s;
    }

    .box .count{
        position: relative;
    }
    .box .count span{
        color: #FF0036;
        font-size: 2.5rem;
    }
    .box .count p{
        position: relative;
        top: -10px;
        left: 5px;
        font-size: 1rem;
    }

    .box i{
        font-size: 2.5rem;
    }

    .box:hover{
        background: #FF0036;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35) !important;
        color: #fff !important;
        transform: scale(1.02);
        transition: 0.3s;
    }
    .box:hover .count span{
        color: #fff;
    }

    @media screen and (max-width:767px) {
        .box{
            padding: 5px 15px;
            width: 150px;
        }

        .box .count span{
            color: #FF0036;
            font-size: 1.5rem;
        }
        .box .count p{
            position: relative;
            top: -8px;
            left: 1px;
            font-size: 0.8rem;
        }

        .box i{
            font-size: 1.8rem;
        }
    }

    /* ============= TABLEAUX RENCENTS ============== */

    .col-tab {
        border-radius: var(--card-border-radius);
        /* width: 100%; */
    }

    .col-con{
        width: 100%;
    }


    .hearder{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .hearder p, .connect-title p{
        margin-bottom: 0;
        color: #FF0036;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .hearder a span{
        font-size: 1rem;
    }

    .btn-rouge, .btn-bleu {
        border: none;
        color: #fff;
        padding: 7px 15px;
        font-weight: 500;
        font-size: 0.9rem;
        border-radius: 50rem !important;
        text-align: center;
        text-decoration: none;
    }

    .btn-rouge{
        background: #FF0036;
    }
    .btn-bleu{
        background: #0b5ed7;
    }

    .btn-rouge:hover, .btn-bleu:hover{
        opacity: 0.8;
        color: #fff;
    }


</style>

<div class="boxes">
    <a href="{% url 'enseignant' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Enseignants</p>
            </div>
            <i class="uil uil-user"></i>
        </div>
    </a>
    <a href="{% url 'unite_enseignements' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>78</span><br>
                <p class="mb-0">UEs</p>
            </div>
            <i class="uil uil-book-open"></i>
        </div>
    </a>
    <a href="{% url 'filieres' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>80</span><br>
                <p class="mb-0">Filières</p>
            </div>
            <i class="uil uil-meeting-board"></i>
        </div>
    </a>
    <a href="{% url 'specialites' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Spécialités</p>
            </div>
            <i class="uil uil-bookmark-full"></i>
        </div>
    </a>
    <a href="{% url 'niveaux' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Niveaux</p>
            </div>
            <i class="uil uil-chart-line"></i>
        </div>
    </a>
    <a href="{% url 'salles' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Salles</p>
            </div>
            <i class="uil uil-building"></i>
        </div>
    </a>
    <a href="{% url 'classes' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Classes</p>
            </div>
            <i class="uil uil-airplay"></i>
        </div>
    </a>
    <a href="{% url 'groupes' %}">
        <div class="box shadow text-secondary">
            <div class="count">
                <span>15</span><br>
                <p class="mb-0">Groupes</p>
            </div>
            <i class="uil uil-users-alt"></i>
        </div>
    </a>
</div>

<div class="row">
    <div class="col-lg-10 mx-auto col-tab mt-5 shadow py-3 px-2">
        <div class="hearder">
            <p class="mb-4">Plannings Récents</p>
            <p class="mb-4">
                <a class="btn-bleu" href="{% url 'planning' %}">
                consulter 
                <i class="uil uil-eye"></i>
                </a>
                &emsp;
                <a class="btn-rouge" class="btn-rouge" data-bs-toggle="modal" data-bs-target="#choisirCours" href="{% url 'ajout_planning' %}">
                    Ajouter 
                    <span>+</span>
                </a>
            </p>
        </div>
        <div class=" tresp table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Niveau</th>
                        <th scope="col">Filière</th>
                        <th scope="col">Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">Licence 1</td>
                        <td>Informatique</td>
                        <td>02/06/2022</td>
                        <td>
                            <a href=""><i class="uil uil-trash-alt"></i></a>
                            <a href=""><i class="uil uil-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
  
  <!-- Modal -->
<div class="modal fade" id="choisirCours" data-bs-backdrop="static" tabindex="-1" aria-labelledby="choisirCoursLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="choisirCoursLabel" style="color: #0b5ed7;">Ajout d'un cours</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 offset-md-3 mt-3">
                                <div class="form-group">
                                    <label for="salle">Veuillez choisir une classe</label><br><br>
                                    <select class="form-select" name="classe" id="classe">
                                        <option value="" selected>classe</option>
                                        {% for classe in classeList %}
                                            <option value="{{classe}}">{{classe}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-bleu" data-bs-dismiss="modal">Annuler</button>
                    <input class="btn-rouge" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</div>


<script>

    classe = document.getElementById('classe');

    // Rendre le lien actif
    
    let list = document.getElementsByClassName('list');
    for (let i = 0; i < list.length; i++) {
        list[i].className = 'list';
    }
    document.getElementById('dash').className = 'list active';
</script>

{% endblock %}
