{% extends 'base.html' %}
  {% block title %} Planning || emploi de temps{% endblock%}

  {% block content %}
              <form action="{% url 'mon_planning' %}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                  <div class="container-fluid text-center">
                    <div class="row">
                      <div class="col-md-8 offset-md-2">
                        <div class="form-group">
                          <label for="typeRech">Critères de recherche</label>
                          <select class="form-control" name="typeRech" id="typeRech">
                            <option value="1">Tous les emplois de temps</option>
                            <option value="2">Filiere</option>
                            <option value="3">Filiere + Niveau</option>
                            <option value="4">Classe + Specialite</option>
                            <option value="5">Filiere +  Niveau + Classe + salle</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <p id="indication" style="color: rgb(56, 51, 133) !important; font-style: italic; font-size: 13px;" class="text-center align-items-center mt-4">
                      <i style="font-size: 20px;" class="bi-question-circle"></i> 
                        Si une <b> Filiere ou une classe ou specialite</b> n'apparaît pas dans la liste, alors leurs planning n'est pas encore disponible !
                    </p>
                    <div class="row mt-2" id="form2">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="">Filiere</label>
                          <select class="form-control" name="matiere2" id="matiere2">
                            {% for filiere in filieres %}
                            <option value="{{filiere}}">{{filiere}}</option>
                            {% endfor %} 
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form3">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="classe3">Filiere</label>
                          <select class="form-control" name="classe3" id="classe3">
                            {% for filiere in filieres %}
                            <option value="{{filiere}}">{{filiere}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="ville3">Niveaux</label>
                          <select class="form-control" name="ville3" id="ville3">
                            {% for niv in niveaux %}
                            <option value="{{niv}}">{{niv}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form4">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="matiere4">Classe</label>
                          <select class="form-control" name="matiere4" id="matiere4">
                            {% for classe in classes %}
                            <option value="{{classe}}">{{classe}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="classe4">Specialite</label>
                          <select class="form-control" name="classe4" id="classe4">
                            {% for spec in specialites %}
                            <option value="{{spec}}">{{spec}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2" id="form5">
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="matiere5">Filiere</label>
                          <select class="form-control" name="matiere5" id="matiere5">
                            {% for filiere in filieres %}
                            <option value="{{filiere}}">{{filiere}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="classe5">Niveau</label>
                          <select class="form-control" name="classe5" id="classe5">
                            {% for niv in niveaux %}
                            <option value="{{niv}}">{{niv}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 offset-md-1 mt-3">
                        <div class="form-group">
                          <label for="ville5">Classe</label>
                          <select class="form-control" name="ville5" id="ville5">
                            {% for classe in classes %}
                            <option value="{{classe}}">{{classe}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5 mt-3">
                        <div class="form-group">
                          <label for="quartier5">Salle</label>
                          <select class="form-control" name="quartier5" id="quartier5">
                            {% for sal in salles %}
                            <option value="{{sal}}">{{sal}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                      <style>
                        .btn-connexion{
                          background-color: #FF0036;
                          height: 50px;
                          width: 200px;
                          margin-left: 40%;
                          border-radius: 10px;
                        }
                       .form-group{
                         
                         border-radius: 10px;
                         height: 55px;
                      
                        }
                      </style>

                  <input class="btn-connexion" type="submit" value="Rechercher" >
                </div>
              </form>
              
              
              
<!-- javaScritp -->
<script>
            var form2 = document.getElementById('form2');
            var form3 = document.getElementById('form3');
            var form4 = document.getElementById('form4');
            var form5 = document.getElementById('form5');
            var indication = document.getElementById('indication');

            form2.style.display = "none";
            form3.style.display = "none";
            form4.style.display = "none";
            form5.style.display = "none";
            indication.style.display = "none";

            document.getElementById('typeRech').addEventListener('change', function(e) {
            var selectUser = e.target.value;
            if (selectUser == 1) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "none";
            }
            if (selectUser == 2) {
              form2.style.display = "";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 3) {
              form2.style.display = "none";
              form3.style.display = "";
              form4.style.display = "none";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 4) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "";
              form5.style.display = "none";
              indication.style.display = "";
            }
            if (selectUser == 5) {
              form2.style.display = "none";
              form3.style.display = "none";
              form4.style.display = "none";
              form5.style.display = "";
              indication.style.display = "";
            }
          });

</script>

         
{% endblock %}
