@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Pacifico&family=Righteous&family=Merienda&display=swap');

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: rgba(248,249,250,1) !important;
}

.navigation{
    position: fixed;
    background: #FF0036;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    box-sizing: initial;
    border-left: #FF0036 solid 5px;
    transition: 0.3s;
    overflow-x: hidden;
    /* scrollbar-width: none; */
}
.navigation.active{
    width: 288px;
}
.navigation ul li a .title{
    width: 0;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
}
.navigation ul .lien{
    padding-top: 40px;
}
.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* menu actif >background */

.navigation ul li.active{
    background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
}

.navigation ul li b:nth-child(1){
    position: absolute;
    top: -17px;
    height: 17px;
    width: 100%;
    background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    display: none;
}
.navigation ul li b:nth-child(1)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF0036;
    border-bottom-right-radius: 30px;
}
.navigation ul li b:nth-child(2){
    position: absolute;
    bottom: -17px;
    height: 17px;
    width: 100%;
    background: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    display: none;
}
.navigation ul li b:nth-child(2)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF0036;
    border-top-right-radius: 30px;
}
.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2){
    display: block;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

/* menu actif >lien */

.navigation ul li.active a{
    color: #FF0036;
}

.navigation ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}
/* .navigation ul .logo a .icon i{
    font-size: 2rem;
} */
.navigation ul .logo a .title{
    font-weight: bold;
    font-size: 1.7rem;
}
.navigation ul li a .icon i{
    font-size: 1.5rem;
}


.navigation ul li a{
    z-index: 12;
}
.navigation ul .lien li:hover a{
    border-radius: 30px;
    background: #f55678e1;
    /* transition: .3s; */
    z-index: 12;
}
.navigation ul li.active:hover a{
    border-radius: 30px;
    background: none;
    /* transition: .3s; */
}


.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 54px;
    line-height: 54px;
    white-space: normal;
    font-size: 1.1rem;
    font-weight: 500;
}

.toggle{
    position: fixed;
    background: #FF0036;
    top: 20px;
    left: 70px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    z-index: 12;
}
.toggle.active{
    left: 290px;
}
.toggle i{
    position: absolute;
    color: #fff;
    font-size: 34px;
}
.toggle i.open,
.toggle.active i.close{
    display: block;
}
.toggle i.close,
.toggle.active i.open{
    display: none;
}

@media screen and (max-width:767px) {
    .navigation{
        width: 288px;
        scrollbar-width: none;
    }
    .navigation.active{
        width: 40px;
        scrollbar-width: none;
    }
    .navigation ul li a .icon i{
        font-size: 1.3rem;
        transition: .3s;
    }
    .navigation ul li.active a .icon i{
        font-size: 1.5rem;
        transition: .3s;
        padding-left: 6px;
    }
    .navigation.active ul li.active a .icon i{
        padding-left: 0px;
    }
    .navigation.active ul li a .icon i{
        font-size: 1.5rem;
        transition: 0.3s;
    }

    .navigation ul li a .title{
        font-size: 1rem;
        font-weight: 500;
    }

    .toggle{
        left: 290px;
    }
    .toggle.active{
        left: 40px;
        width: 34px;
        height: 34px;
    }

    .toggle i{
        font-size: 30px;
    }

    .toggle i.open,
    .toggle.active i.close{
        display: none;
    }
    .toggle i.close,
    .toggle.active i.open{
        display: block;
    }
}

/*  ============ main ============ */

.main.active {
    position: relative;
    width: calc(100% - 293px);
    left: 293px;
    min-height: 100vh;
    transition: 0.3s;
}
.main {
    position: relative;
    width: calc(100% - 75px);
    left: 75px;
    min-height: 100vh;
    transition: 0.3s;
}

.main .topbar {
    width:  100%;
    height: 70px;
    /* background: #333; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar .welcome h5{
    margin: 0 !important;
}

.topbar .user {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 2px;
}
.user .photo{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 1/1;
}
.photo img{
    display: block;
    width: 100%;
}

@media screen and (max-width:767px) {
    .main {
        width: calc(100% - 293px);
        left: 293px;
    }
    .main.active {
        width: calc(100% - 45px);
        left: 45px;
        visibility: visible;
        transition: 0.1s;
    }
    .topbar .user {
        padding-right: 30px;
    }
    .user .photo{
        width: 30px;
        height: 30px;
    }
    .topbar .welcome h5,
    .topbar .user a{
        font-size: .8rem;
    }
}



/* =============== CONTENU ============= */

.contenu{
    padding: 20px;
}





/* ========= tableau =============== */

tbody th{
    border-right: #212529 solid 2px !important;
}

tbody tr td a i{
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s;
}
.uil-trash-alt {
    color: red;
}

.uil-edit{
    color: green;
}

/* tbody td::before{
    position: relative;
    content: "+";
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.096);
    justify-content: center;
    align-items: center;
    left: 34%;
    top: 0.3rem;
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

tbody td:hover::before{
    color: #fff;
    transition: 0.3s;
    font-size: 2rem;
} */

/* ======= modal ============= */

select,
input[type="text"],
input[type="password"],
input[type="email"]{
    border: none !important;
    border-bottom: #FF0036 solid 1px !important;
    font-size: 0.9rem !important;
    /* color: rgb(34, 34, 34) !important; */
}

select:hover,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover{
    border: none !important;
    border-bottom: #FF0036 solid 2px !important;
    box-shadow: none !important;

}
select optgroup{
    color: #000 !important;
}
select option,
input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 0.95rem !important;
    color: rgb(85, 85, 85) !important;
    /* color: rgb(34, 34, 34) !important; */
}