@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Pacifico&family=Righteous&family=Merienda&display=swap');

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


*{
    font-family: 'Poppins'!important;
}

.table{
    --bs-table-striped-bg: rgba(255, 0, 54, 0.12) !important;
}

.border-rouge {
    border-color: #FF0036 !important;
}


/* message d'erreur du formulaire */

.errorform{
    padding-top: 5px;
    font-size: 14px;
    display: block;
    margin: 0 0 0px 0;
    color: #e35f5f;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 13px;
}

.errornotes{
    font-size: 14px;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    color: #e35f5f;
    border: 1px solid #e35f5f;;
    border-radius: 4px;
    background-color: rgb(255, 210, 210);
    background-position: 5px 12px;
    overflow-wrap: break-word;
    /* width: 80%; */
    margin: auto;
  }


/* les boutons */

.btn-rouge, .btn-bleu {
    border: none;
    color: #fff;
    padding: 7px 15px;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 50rem !important;
    text-align: center;
    text-decoration: none;
}

.btn-rouge{
    background: #FF0036;
}
.btn-bleu{
    background: #0b5ed7;
}

.btn-rouge:hover, .btn-bleu:hover{
    opacity: 0.8;
    color: #fff;
}

